::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 11px;
}

::-webkit-scrollbar:horizontal {
    height: 11px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

.bg-color {
    background-color: #141415;
}

.bg-grey-custom {
    background-color: #3D3D3D;
}

.nav-active {
    color: white;
}

.main-background {
    background-image: url('../img/background.webp');
    background-size: cover;
}

.gradient {
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-reverse {
    text-transform: uppercase;
    background: linear-gradient(to left, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gold-custom {
    color: #C7B452;
}

.turbo-progress-bar {
    height: 5px;
    background-color: #C7B452;
}